
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>@Html.Label("Login Name")</div>
    <div>@Html.TextBox("name")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.TextBox("password")</div>
    <input type="submit" value="Login"/>
}